* {
	font-family: 'Montserrat', sans-serif;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: #0F4CA3;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.377);
	z-index: 1;
}
.navbar .getstarted {
	background: #0F4CA3;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}

.own-cards{
    padding: 30px;
    margin-top: 15px;
}

.card{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.about-us-title{
   color: #3e3e93;
   margin-bottom: 30px;
   text-transform: uppercase;
   padding: 5px;
}

.about-us-title::before{
   content: '';
   background: #7b1798;
   height: 5px;
   width: 250px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   transform: translateY(63px);
}

.contact-us-title{
	color: #3e3e93;
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	padding: 5px;
	font-weight: 600;
 }
 
 .contact-us-title::before{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(50px);
 }

 .contact-us-text{
	margin-top: 30px;
	margin-bottom: 25px;
 }

 .mi-boton{	
	width: 190px;
 }

 .form-label{
	color: #0F4CA3;
	font-size: 20px;
 }

 #nombre_apellido, #celular, #correo{
	max-width: 400px;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0  5px 15px; */
 }

 .contact-us-form{
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0  5px 15px;
	padding: 30px 30px;
 }

 .my_banner{
	margin-top: auto;
	margin-bottom: auto;
	justify-content: center;
	text-align: center;
 }

.navbar-light .navbar-brand span {
	color: #0F4CA3
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.navbar .getstarted {
		display: none;
	}
}
