*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

body{
    font-family: sans-serif;
}

.img-logo{
    height: 40px;
    padding: 0;
}

.navbar{
    background-image: linear-gradient(to right, #3e3e93,#0461b8);    
    padding: 0;
}

.navbar-nav li a{
    color: #b2d3d3;
    font-weight: 600;
}

.own-carousel{
    padding: 20px 0;    
}

.carousel-item img{
    height: 600px;   
}

.own-cards{
     padding: 20px;
     margin-top: 15px;
}

 .about-us-title{
    color: #3e3e93;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 5px;
 }

 .about-us-title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
 }